useDynLib(gtobitnet)
import(stats)
importFrom(Rcpp, sourceCpp)
importFrom(graphics, abline, arrows, matplot, text)
export(gtobitnet, cv.gtobitnet, gtobitscad, cv.gtobitscad)
S3method(predict, gtobitnet)
S3method(plot, gtobitnet)
S3method(plot, cv.gtobitnet)
S3method(predict, gtobitscad)
S3method(plot, gtobitscad)
S3method(plot, cv.gtobitscad)